:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
:host.active {
  background: gray;
}

ion-popover::part(content) {
  top: unset;
  bottom: 1%;
}
