<ion-popover [isOpen]="isOpen() && (image() || text())" [showBackdrop]="false">
  <ng-template>
    <div>
      @if(image()){
      <h2 class="ion-text-center">
        <ion-thumbnail>
          <ion-img [src]="image()"></ion-img>
        </ion-thumbnail>
      </h2>
      }
      <p>
        {{ text() }}
      </p>
    </div>
  </ng-template>
</ion-popover>
@if(image()){
<ion-thumbnail>
  <ion-img [src]="image()"></ion-img>
</ion-thumbnail>
} @else if (text()) {
<ion-icon name="document-outline"></ion-icon>
}
