<ion-popover [isOpen]="isPopupVisible()" [showBackdrop]="false" side="bottom">
  <ng-template>
    <div class="popover-content">
      @if(showDetailContainer()){
      <div class="detail-container">
        @if(image()){
        <ion-thumbnail>
          <ion-img [src]="image()"></ion-img>
        </ion-thumbnail>
        } @if(topWhite()){
        <div class="preview-exagon">
          <div class="inner">
            {{ topWhite() }}
          </div>
        </div>
        } @if(topBlack()){
        <div class="preview-exagon black">
          <div class="inner">
            {{ topBlack() }}
          </div>
        </div>
        }
      </div>
      }
      <p>
        {{ text() }}
      </p>
    </div>
  </ng-template>
</ion-popover>
<div class="exagon" [attr.data-col]="cords()[0]" [attr.data-row]="cords()[1]">
  @if(topWhite()){
  <div class="small-exagon white">
    <div class="inner">{{ topWhite() }}</div>
  </div>
  } @if(topBlack()){
  <div class="small-exagon black">
    <div class="inner">{{ topBlack() }}</div>
  </div>
  }
  <div class="inner">
    @if(image()){
    <ion-thumbnail>
      <ion-img [src]="image()"></ion-img>
    </ion-thumbnail>
    } @else if (text()) {
    <ion-icon style="font-size: 3rem" name="add"></ion-icon>
    }
  </div>
</div>
