<ion-header>
  <ion-toolbar>
    <ion-title>INFORMAZIONI</ion-title>
    <ion-button slot="end" fill="clear" color="medium" (click)="close()">
      <ion-icon slot="icon-only" name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-no-padding">
  <ion-grid class="ion-padding-horizontal ion-padding-bottom">
    <ion-row>
      <ion-col class="ion-no-padding ion-padding-vertical">
        <p class="ion-no-margin">
          "Not The End" è un gioco di ruolo creato da Claudio Pustorino ed edito da Fumble GDR.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding ion-padding-vertical">
        <p class="ion-no-margin">
          Questa applicazione sviluppata e distribuita da Critical Adventures è utilizzabile gratuitamente senza limitazioni, senza pubblicità e nel rispetto della privacy non raccoglie direttamente nessun tipo di dato sull'utilizzo o sull'utilizzatore di essa.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding ion-padding-top">
        <ion-button class="fumble" fill="outline" expand="block" href="https://fumblegdr.it/gioco/not-the-end/" target="_blank">
          <ion-img slot="start" src="../../assets/FumbleGdRLogo.png"></ion-img>
          Fumble GDR - NOT THE END
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <a class="github" href="https://github.com/frabaddo/nte-cap-app" target="_blank">
    <ion-icon color="dark" name="logo-github"></ion-icon>
    <ion-text color="primary">Progetto open-source</ion-text>
    <ion-text color="dark" class="ion-float-right">v. 1.0</ion-text>
  </a>
</ion-content>