ion-header ion-toolbar{
    --background:url("../assets/Header.png") no-repeat center center / cover;
}
ion-header::after{
    background: none;
}
ion-app{
    background: white //var(--main-background) no-repeat center center / cover;
}
ion-tab-bar{
    background: var(--main-background) 100% 20% /100% auto;
    --background: transparent;
}