ion-content {
  --padding-bottom: 32px;
  --background: var(--main-background) no-repeat center center / cover;
}
ion-header {
  ion-toolbar {
    --background: url("../../../assets/Header.png") no-repeat center center /
      cover;
    opacity: 0;
  }
}
ion-header::after {
  background: none;
}
.rose-container {
  padding: 2rem;
}
.lesson-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  app-sheet-rose {
    --size: 8rem;
  }
}
