ion-content {
  --padding-bottom: 32px;
  --background: var(--main-background) no-repeat center center / cover;
}
ion-header {
  ion-toolbar {
    --background: url("../../../assets/Header.png") no-repeat center center /
      cover;
    opacity: 0;
  }
}
ion-header::after {
  background: none;
}
.rose-container {
  padding: 2rem;
  app-sheet-rose {
    --size: 5rem;
  }
}
.exagon-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  app-sheet-rose {
    --size: 8rem;
  }
}

.resources-list {
  padding: 0 2rem;
  max-width: 50rem;
  flex: 1;
  min-width: 25rem;
}

.sheet-responsive {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}
