<ion-header>
  <ion-toolbar>
    <ion-title color="light" mode="md"> NOT THE END </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="sheet-responsive">
    <div class="sheet-part">
      <div class="rose-container">
        <app-sheet-rose [(sheet)]="sheet"></app-sheet-rose>
      </div>
    </div>
    <div class="sheet-part">
      <h2 class="ion-text-center">COSA MI ANNEBBIA LA MENTE?</h2>
      <div class="exagon-list-container">
        <app-sheet-rose
          [disabled]="true"
          [(sheet)]="confusion"
        ></app-sheet-rose>
        <app-sheet-rose
          [disabled]="true"
          [(sheet)]="adrenalin"
        ></app-sheet-rose>
      </div>
    </div>
    <div class="sheet-part">
      <h2 class="ion-text-center">QUALI SVENTURE MI AFFLIGGONO?</h2>
      <div class="exagon-list-container">
        @for(missFortune of missFortunes(); track $index){
        <app-sheet-rose [(sheet)]="missFortune"></app-sheet-rose>
        }
      </div>
    </div>
    <div class="sheet-part resources-list">
      <h2 class="ion-text-center">DI QUALI RISORSE DISPONGO?</h2>
      <ion-list class="ion-no-padding ion-margin-vertical">
        @for(resource of resources(); let odd = $odd; let index = $index; track
        $index){
        <ion-item [color]="odd ? 'medium' : 'light'">
          <ion-input
            placeholder="Inserisci testo risorsa"
            [(ngModel)]="resource"
          ></ion-input>
          <ion-button slot="end" fill="clear" (click)="deleteResource(index)">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-item>
        }
      </ion-list>
      <ion-button expand="block" (click)="addResource()"
        >Aggiungi risorsa</ion-button
      >
    </div>
  </div>
  <ion-popover
    [showBackdrop]="true"
    [backdropDismiss]="true"
    [isOpen]="!firstOpeningTip()"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <p>Scorri il dito sugli esagoni per vedere il loro contenuto.</p>
        <p>
          Rimuovi il dito mentre la preview di un esagono è aperta, per accedere
          alla modale di modifica.
        </p>
        <!-- <ion-item>
          <ion-note> Non mostrare alla prossima apertura </ion-note>
        </ion-item> -->
      </ion-content>
      <ion-footer>
        <ion-button
          class="ion-no-margin"
          expand="full"
          (click)="closeTipPopup()"
          >Chiudi</ion-button
        >
      </ion-footer>
    </ng-template>
  </ion-popover>
</ion-content>
