:host{
    &,.inner-hexagon{
        clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    }
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    background: black;
    border: 1px solid black;
}
.inner-hexagon{
    width: 100%;
    height: 100%;
    background: white;
}