:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --container-padding: 2rem;
  --size: calc((100vw - (var(--container-padding) * 2)) / 4);
  --margin: 2rem;
  margin: var(--margin);
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--size) * 0.94);
}
