:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  --container-padding: 2rem;
  --size: calc((100vw - (var(--container-padding) * 2)) / 4);
  --margin: 2rem;
  margin: var(--margin);
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--size) * 0.94);
}
.exagon {
  width: var(--size);
  margin: calc(var(--size) * -0.3 / 1.35);
  background: gray;
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
  aspect-ratio: 1 / cos(30deg);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  user-select: none;
}

.exagon > .inner {
  --size: calc(var(--size) -1px);
  position: absolute;
  content: "";
  top: 2px;
  right: 1px;
  bottom: 2px;
  left: 2px;
  width: var(--size);
  background: white;
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
