<div class="rose-container">
  <div class="rose-column">
    <app-sheet-hexagon></app-sheet-hexagon>
    <app-sheet-hexagon></app-sheet-hexagon>
    <app-sheet-hexagon></app-sheet-hexagon>
  </div>
  <div class="rose-column">
    <app-sheet-hexagon></app-sheet-hexagon>
    <app-sheet-hexagon></app-sheet-hexagon>
    <app-sheet-hexagon></app-sheet-hexagon>
    <app-sheet-hexagon></app-sheet-hexagon>
  </div>
  <div class="rose-column">
    <app-sheet-hexagon></app-sheet-hexagon>
    <app-sheet-hexagon></app-sheet-hexagon>
    <app-sheet-hexagon></app-sheet-hexagon>
    <app-sheet-hexagon></app-sheet-hexagon>
    <app-sheet-hexagon></app-sheet-hexagon>
  </div>
  <div class="rose-column">
    <app-sheet-hexagon></app-sheet-hexagon>
    <app-sheet-hexagon></app-sheet-hexagon>
    <app-sheet-hexagon></app-sheet-hexagon>
    <app-sheet-hexagon></app-sheet-hexagon>
  </div>
  <div class="rose-column">
    <app-sheet-hexagon></app-sheet-hexagon>
    <app-sheet-hexagon></app-sheet-hexagon>
    <app-sheet-hexagon></app-sheet-hexagon>
  </div>
</div>
