:host{
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

@media (orientation: landscape) {
    :host{
        height: 75vh;
    }
}
@media (orientation: portrait) {
    :host{
        width: 75vw;
    }
}

.rose-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    .rose-column{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 100%;
        --inside-sub-distance: -10%;
        &:nth-child(-n+2){
            margin: 0 var(--inside-sub-distance) 0 0;
        }
        &:nth-last-child(-n+2){
            margin: 0 0 0 var(--inside-sub-distance);
        }
    }
}