<div class="rose-container">
  <div class="rose-column">
    <app-hexagon></app-hexagon>
    <app-hexagon></app-hexagon>
    <app-hexagon></app-hexagon>
  </div>
  <div class="rose-column">
    <app-hexagon></app-hexagon>
    <app-hexagon></app-hexagon>
    <app-hexagon></app-hexagon>
    <app-hexagon></app-hexagon>
  </div>
  <div class="rose-column">
    <app-hexagon></app-hexagon>
    <app-hexagon></app-hexagon>
    <app-hexagon></app-hexagon>
    <app-hexagon></app-hexagon>
    <app-hexagon></app-hexagon>
  </div>
  <div class="rose-column">
    <app-hexagon></app-hexagon>
    <app-hexagon></app-hexagon>
    <app-hexagon></app-hexagon>
    <app-hexagon></app-hexagon>
  </div>
  <div class="rose-column">
    <app-hexagon></app-hexagon>
    <app-hexagon></app-hexagon>
    <app-hexagon></app-hexagon>
  </div>
</div>
