ion-content{
    --background:var(--main-background) no-repeat center center / cover;
}
ion-header ion-toolbar{
    --background:url("../../assets/Header.png") no-repeat center center / cover;
    opacity: 0;
}
ion-header::after{
    background: none;
}
ion-item{
    --background: transparent;
}
.extracted-token{
    img{
        -webkit-filter: drop-shadow(2px 3px 4px rgba(0,0,0,0.3));
        filter: drop-shadow(2px 3px 4px rgba(0,0,0,0.3));
      }
}
.extracted-label{
    font-size: 18px;
}

.first-token::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 1000%;
    top: 50%;
    right: 0px;
    background: var(--ion-color-medium);
    transform: translate(-10%, calc( -50% - 3px));
}
.last-token::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 1000%;
    top: 50%;
    left: 0px;
    background: var(--ion-color-medium);
    transform: translate(10%, calc( -50% - 3px));
}
.logo{
    padding:0px;
    img {
        height: 50px;
    }
}
.made-by{
    padding:0px;
    p{
        margin: 0px;
        font-size: 14px;
    }
}
.content{
    min-height: calc(100% - 32px);
    margin-bottom: -84px;
}
.push {
    height: 84px;
}

.big-button{
    font-size: 20px;
    height: 40px;
    //--padding-bottom: 20px;
    //--padding-top: 20px;
}
.grey{
    --border-color: var(--ion-color-medium);
}

.remain-number {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
}